## ETF project env example (do not commit real values)
## Rule:
## - ETF_*: business/project-level variables
## - OPENCLAW_*: platform-level variables

# ------------------------------
# ETF project-level variables
# ------------------------------
ETF_APP_ENV=dev
ETF_LOG_LEVEL=INFO
ETF_TIMEZONE=Asia/Shanghai

ETF_TUSHARE_TOKEN=
ETF_ITICK_API_KEY=
ETF_ALLTICK_API_KEY=
ETF_TAVILY_API_KEY=
ETF_LLM_API_KEY=

ETF_FEISHU_WEBHOOK_URL=
ETF_FEISHU_APP_ID=
ETF_FEISHU_APP_SECRET=
ETF_FEISHU_ROOT_FOLDER_TOKEN=

# ------------------------------
# OpenClaw platform-level variables
# ------------------------------
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_GATEWAY_PORT=18789

OPENCLAW_DINGTALK_CLIENT_ID=
OPENCLAW_DINGTALK_CLIENT_SECRET=
OPENCLAW_DINGTALK_CORP_ID=
OPENCLAW_DINGTALK_AGENT_ID=

OPENCLAW_FEISHU_APP_ID=
OPENCLAW_FEISHU_APP_SECRET=

OPENCLAW_OPENROUTER_API_KEY=
OPENCLAW_TAVILY_API_KEY=

